body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.badge {
    float: right;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.panel {
    height: 150px;
}

#tag {
    width: 200px;
}

#created_at {
    float: right;
    margin-top: 5px;
}